# Node modules
node_modules/

# Logs
logs/
log/
*.log

# Environment variables
.env

# Build directories
dist/
build/

# Config
config/

# Management tools
mgt/

# RPi doc
raspberry-pi/attendance_log/
raspberry-pi/embeddings/
raspberry-pi/sys_log/